<%= javascript_pack_tag("infinite_scroll/scroll")%>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-2">
      <div class="container profile-header mt-3">
        
        <%= image_tag user_avatar(@user), class: "rounded-circle", size:"100x100"%>
        <p><%= @user.name %> <%= @user.last_name %></p>
        <p class="fw-bold">Friends: <%= @user.friends.count %></p>
        <%= link_to "Edit Profile", edit_user_registration_path(@user)%>
      </div>
    </div>
    <div class="col col-md-7">

      <div class="container profile-body mt-3"
           id="profile-feed">
        
        <% if @posts.empty? && current_user == @user %>
          <div class="container text-center shadow rounded py-3" id="no-posts">
            <p class="lead">Its feeling a little empty over here</p>
            <p class="fst-italic">Try making a new post</p>
            <%= link_to "Create Post", new_post_path,
              remote: true,
              class: "btn btn-primary",
              "data-bs-toggle" => "modal",
              "data-bs-target" => "#main-modal"%>
          </div>
        <% end %>
        <%= render "posts/feed", posts: @posts%>
        
      </div>
      <div class="container d-none">
        <%= will_paginate @posts %>
      </div>
    </div>
    <div class="col-3 d-none d-md-block">
      <% if @user == current_user%>
        <div class="container text-center shadow mt-3 py-3">
        <h1 class="fs-4">
        
        Friend Requests
        </h1> 

          <%if @friend_requests.any?%>
            <% @friend_requests.each do |request| %>
              <div class="container my-2 border rounded">
                <%= request.requestor.name %> <%= request.requestor.last_name %>
                <div class="container button-group d-flex py-2 justify-content-center">
                  <%= link_to "Accept", user_friendships_url(friend_id: request.requestor.id, user_id: current_user.id),
                    class: "btn btn-sm btn-primary mx-1",
                    method: :post %>
                  <%= link_to "Ignore", friend_request_path(id: request.id),
                    class: "btn btn-sm btn-primary mx-1",
                    method: :delete%>
                </div>
              </div>
            <% end %>
          <% else %>
          <div class="container pb-3">
            No friend requests at this time :)
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>