<%= javascript_pack_tag("infinite_scroll/scroll")%>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-2">
      <div class="container profile-header mt-3">
        
        <%= image_tag user_avatar(@user), class: "rounded-circle", size:"100x100"%>
        <p><%= @user.name %> <%= @user.last_name %></p>
        <p class="fw-bold">Friends: <%= @user.friends.count %></p>
        <%= link_to "Edit Profile", edit_user_registration_path(@user)%>
      </div>
    </div>
    <div class="col col-md-8">

      <div class="container profile-body mt-3"
           id="profile-feed">
        
        <% if @posts.empty? && current_user == @user %>
          <div class="container text-center shadow rounded py-3" id="no-posts">
            <p class="lead">Its feeling a little empty over here</p>
            <p class="fst-italic">Try making a new post</p>
            <%= link_to "Create Post", new_post_path,
              remote: true,
              class: "btn btn-primary",
              "data-bs-toggle" => "modal",
              "data-bs-target" => "#main-modal"%>
          </div>
        <% end %>
        <%= render "posts/feed", posts: @posts%>
        
      </div>
      <div class="container d-none">
        <%= will_paginate @posts %>
      </div>
    </div>
    <div class="col-2 d-none d-md-block">
    </div>
  </div>
</div>