<div class="container d-flex flex-column justify-content-center align-items-center">
  <h2 class="fw-bold mt-3">Change your password</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, class: "form-control d-flex flex-column justify-content-center align-items-center") do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="container mt-2">
      <%= f.label :password, "New password" %><br />
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
    </div>

    <div class="container mt-2">
      <%= f.label :password_confirmation, "Confirm new password" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="container mt-2">
      <%= f.submit "Change my password", class:"btn btn-primary" %>
    </div>
  <% end %>
  <div class="container">
    <%= render "devise/shared/links" %>
  </div>
</div>
