<div class="container d-flex flex-column justify-content-center align-items-center">
  <h2 class= "fw-bold mt-2">Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, class: "form-control d-flex flex-column justify-content-center align-items-center") do |f| %>
    <div class="container mt-2">
      <%= render "devise/shared/error_messages", resource: resource %>
    </div>

    <div class="container mt-2">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="container mt-2">
      <%= f.submit "Rest Pasword", class: "btn btn-primary" %>
    </div>
  <% end %>

  <div class="container mt-2 text-center">
    <%= render "devise/shared/links" %>
  </div>
</div>
