<div class="container p-0">
  <div class="container d-flex justify-content-between comment">
    <h6><%= comment.user.name %> <%= comment.user.last_name %></h6>
    <% if comment.user_id == current_user.id %>
      <%= link_to comment, method: :delete do %>
        <span>
          <i class="bi bi-trash"></i>
        </span>
      <% end %>
    <% end %>
  </div>
  <div class="container">
    <p class="fs-6">
      <%= comment.body %>
    </p>
  </div>
  <div class="container d-flex justify-content-end mb-1">
  <%# Add a toggle for this, and each comment can have a form ? %>
    <button class="btn"
            type="button"
            aria-labelledby="reply-button"
            data-bs-toggle="collapse"
            data-bs-target="#inner-comment-form-<%=comment.id%>">
      <span>
        <i class="bi bi-reply-fill"></i>
      </span>
    </button>
    
  </div>
  <div class="container collapse" id="inner-comment-form-<%= comment.id %>">
    <%= render "shared/comment_form", comment: Comment.new,
      commentable: comment %>
  </div>
  <div class="container pe-0" id="replies-<%= comment.id %>">
    <% comment.comments.each do |nested_comment| %>
      <%= render "shared/comment", comment: nested_comment%>
    <% end %>
  </div>
</div>