<nav class="navbar navbar-expand-md navbar-light bg-primary sticky-top">
  <div class="container-fluid">
    <div class="navbar-brand">
      <%= link_to "The People Network", root_path,
        class: "btn fw-bold fs-5 text-light" %>
    </div>
    <% if user_signed_in? %>
      <button class="navbar-toggler" 
      type="button" 
      tabindex="1"
      data-bs-toggle="offcanvas" 
      data-bs-target="#nav-offcanvas"
      aria-controls="#nav-offcanvas"
      aria-expanded="false"
      aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end bg-primary" id="nav-offcanvas">
        <div class="offcanvas-header">
          <h5 class="text-light">The People Network</h5>
          <button type="button" 
                  class="btn-close text-reset" 
                  data-bs-dismiss="offcanvas" 
                  aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-block d-md-flex justify-content-between">
          <div class="navbar-nav align-self-center">
            <%= form_with url:"/",
               method: :get,
               class: "d-flex" do |form|%>
              <%= form.text_field :search, 
              placeholder: "Search",
              class:"form-control"%>
              <%= form.submit "Search",
                class: "btn btn-sm btn-light mx-2" %>
            <% end %>
          </div>
          <div class="navbar-nav">
            <div class="dropdown">          
              <button class="btn text-start dropdown-toggle caret-off"
                type= "button"
                id="dropdown-Menu"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                  <span class="text-light fs-3">
                    <i class="bi bi-grid-3x3-gap-fill"></i>      

                    <p class="d-inline d-md-none">
                      Menu
                    </p>
                  </span>                   
              </button>
              <ul class="dropdown-menu">
                <%= link_to "Create Post", new_post_path,
                  class: "dropdown-item",
                  remote: true %>
                <%= link_to "Profile", user_path_url(current_user.id),
                class: "dropdown-item"%>
              </ul>
            </div>
            <%= link_to "#", class: "btn text-start" do %>
                <span class="text-light fs-3">
                  <i class="bi bi-bell"></i>
                  <p class=" d-inline d-md-none">
                    Notifications
                  </p>
                </span>
            <% end %>
            <%= link_to "#", class: "btn text-start" do %>
                <span class="text-light fs-3">
                  <i class="bi bi-chat-dots"></i>
                  <p class="d-inline d-md-none">
                    Messages
                  </p>
                </span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</nav>