<div class="conatiner post">
  <%# USER AVATAR, NAME, LAST NAME%>
  <div class="container post-header d-flex justify-content-between">
    <div class="container d-flex">
      <%= image_tag "" %>
      <h6><%= post.user.name %> <%= post.user.last_name%></h6>
    </div>
    <% if post.user_id == current_user.id%>
      <div class="container text-end p-0">
        <div class="dropdown">      
          <button class="btn pe-0 dropdown-toggle caret-off"
                  type="button"
                  id="dropdown-elipse"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
            <i class="bi bi-three-dots"></i>
          </button>
          <ul class="dropdown-menu">
            <%= link_to "Delete", post,
              method: :delete,
              class: "dropdown-item" %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
  <p class="fs-6">
    <%= post.body%>
  </p>
  <div class="container d-flex justify-content end" id="post-footer">
    <%# HEART %>
    <button type=button
            class="btn"
            data-bs-target="#comment-form"
            data-bs-toggle="collapse">
      <i class="bi bi-chat-left-text"></i>
    </button>
  </div>
  <div class="container" id="comment-form">
    
  </div>
  <div class="container" id="post-comments">
    <% post.comments.each do |comment| %>
      <%= render "shared/comment", comment: comment %>
    <% end %>
  </div>
  
</div>