<!DOCTYPE html>
<html>
  <head>
    <title>ThePeopleNetwork</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--NAVBAR -->
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        Hello
      </div>
    </nav>
    <div class="container-fluid position-absolute top-10 text-center">
      <%= render "shared/flash" %>
    </div>
    <%= yield %>
  </body>
</html>

<script defer>
  $(".alert").fadeOut(4500)
</script>
